<div class="maincontent">

    <h3>
        Update Product
    </h3>
    
    <form name="myform" novalidate>
        <table>
            <tr>
                <td><label for="" class="form">Name</label></td>
                <td><input type="text" ng-model="product.Name" name="Name" class="form-control" id="" value="{{product.Name}}" ng-required="true"></td>
                <td><span class="text-danger" ng-show="myform.Name.$touched && myform.Name.$invalid">The name is required.</span></td>
            </tr>
            <tr>
                <td><label for="" class="form">Brand</label></td>
                <td><input type="text" ng-model="product.Brand" name="Brand" class="form-control" id="" value="{{product.Brand}}" ng-required="true" ></td>
                <td><span class="text-danger" ng-show="myform.Brand.$touched && myform.Brand.$invalid">Brand is required.</span></td>
            </tr>
            <tr>
                <td><label for="" class="form">Description</label></td>
                <td><input type="text" ng-model="product.Description" name="Description" class="form-control" name="Description" id="" value="{{product.Description}}" ng-required="true"></td>
                <td><span class="text-danger" ng-show="myform.Description.$touched && myform.Description.$invalid">Description is required.</span></td>
            </tr>
            <tr>
                <td><label for="" class="form">Price</label></td>
                <td><input type="Text" ng-model="product.Price" name="Price" class="form-control" id="" value="{{product.Price}}"  ng-required="true"></td>
                <td><span class="text-danger" ng-show="myform.Price.$touched && myform.Price.$invalid">Price is required.</span></td>
            </tr>
            <tr>
                <td><label for="" class="form">Category</label></td>
                <td><select class="form-control" ng-model="product.CategoryId" id="" name="CategoryId"  ng-required="true">
                    <option ng-repeat="c in categories" value="{{c.Id}}">{{c.Name}}</option>
                </select></td>
                <td><span class="text-danger" ng-show="myform.CategoryId.$touched && myform.CategoryId.$invalid">Category is required.</span></td>
            </tr>
            <tr>
                <td><label for="" class="form">Unit</label></td>
                <td><input type="text" ng-model="product.Unit" name="Unit" class="form-control" id="" value="{{product.unit}}"  ng-required="true"></td>
                <td><span class="text-danger" ng-show="myform.Unit.$touched && myform.Unit.$invalid">Unit is required.</span></td>
            </tr>
            <tr>
                <td><input type="submit" class="form-control" ng-click="editproduct(product)" value="Submit" ng-disabled="myform.$invalid"></td>
            </tr>
        </table>
    </form>

</div>